        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; font-weight: bold; }

        .button.is-danger {
            font-weight: bold;
        }

        .media-container {
            display: flex;
            align-items: flex-start;
            justify-content: center; /* Default to center */
            flex-wrap: wrap;
        }

        .carousel {
            flex: 3 1 0%; /* 75% width */
            box-sizing: border-box;
            margin-right: 10px;
            display: flex;
            flex-direction: row;
            overflow-x: auto;
        }

        .carousel img {
            /*max-width: 100%;*/
            height: auto;
            flex-shrink: 0;
            margin-right: 10px;
        }

        .video-container {
            flex: 1 1 0%; /* 25% width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* When video is hidden */
        .media-container.no-video {
            justify-content: center;
        }

        .media-container.no-video .carousel {
            margin-right: 0;
            flex: none;
            /* width: 100%; */
            justify-content: center; /* Center images inside carousel */
        }

        /* Responsive adjustments */
        @media (max-width: 768px) {
            .media-container {
                flex-direction: column;
                align-items: center;
            }

            .carousel,
            .video-container {
                flex: none;
                width: 100%;
                margin-right: 0;
                margin-bottom: 10px;
            }

            .carousel img {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }

        .subtitle {
            text-transform: uppercase; /* Capitalize the text */
            font-weight: bold;          /* Make the text bold */
            font-size: 42px;            /* Set font size to 42px */
        }

        .field textarea.textarea.bold_parts {
            height: 100px; /* Set the fixed height */
        }

        .field textarea.textarea {
            height: 60px !important; /* Force height to 60px */
        }

        .spinner{
            position:relative;
            width:204px;
            height:25px;
            margin:auto;
        }

        .spinningSquaresG{
            position:absolute;
            top:0;
            background-color:rgb(1,16,38);
            width:25px;
            height:25px;
            animation-name:bounce_spinningSquaresG;
                -o-animation-name:bounce_spinningSquaresG;
                -ms-animation-name:bounce_spinningSquaresG;
                -webkit-animation-name:bounce_spinningSquaresG;
                -moz-animation-name:bounce_spinningSquaresG;
            animation-duration:0.905s;
                -o-animation-duration:0.905s;
                -ms-animation-duration:0.905s;
                -webkit-animation-duration:0.905s;
                -moz-animation-duration:0.905s;
            animation-iteration-count:infinite;
                -o-animation-iteration-count:infinite;
                -ms-animation-iteration-count:infinite;
                -webkit-animation-iteration-count:infinite;
                -moz-animation-iteration-count:infinite;
            animation-direction:normal;
                -o-animation-direction:normal;
                -ms-animation-direction:normal;
                -webkit-animation-direction:normal;
                -moz-animation-direction:normal;
            transform:scale(.3);
                -o-transform:scale(.3);
                -ms-transform:scale(.3);
                -webkit-transform:scale(.3);
                -moz-transform:scale(.3);
        }

        #spinningSquaresG_1{
            left:0;
            animation-delay:0.366s;
                -o-animation-delay:0.366s;
                -ms-animation-delay:0.366s;
                -webkit-animation-delay:0.366s;
                -moz-animation-delay:0.366s;
        }

        #spinningSquaresG_2{
            left:25px;
            animation-delay:0.4525s;
                -o-animation-delay:0.4525s;
                -ms-animation-delay:0.4525s;
                -webkit-animation-delay:0.4525s;
                -moz-animation-delay:0.4525s;
        }

        #spinningSquaresG_3{
            left:51px;
            animation-delay:0.549s;
                -o-animation-delay:0.549s;
                -ms-animation-delay:0.549s;
                -webkit-animation-delay:0.549s;
                -moz-animation-delay:0.549s;
        }

        #spinningSquaresG_4{
            left:76px;
            animation-delay:0.6355s;
                -o-animation-delay:0.6355s;
                -ms-animation-delay:0.6355s;
                -webkit-animation-delay:0.6355s;
                -moz-animation-delay:0.6355s;
        }

        #spinningSquaresG_5{
            left:102px;
            animation-delay:0.732s;
                -o-animation-delay:0.732s;
                -ms-animation-delay:0.732s;
                -webkit-animation-delay:0.732s;
                -moz-animation-delay:0.732s;
        }

        #spinningSquaresG_6{
            left:127px;
            animation-delay:0.8185s;
                -o-animation-delay:0.8185s;
                -ms-animation-delay:0.8185s;
                -webkit-animation-delay:0.8185s;
                -moz-animation-delay:0.8185s;
        }

        #spinningSquaresG_7{
            left:153px;
            animation-delay:0.905s;
                -o-animation-delay:0.905s;
                -ms-animation-delay:0.905s;
                -webkit-animation-delay:0.905s;
                -moz-animation-delay:0.905s;
        }

        #spinningSquaresG_8{
            left:178px;
            animation-delay:1.0015s;
                -o-animation-delay:1.0015s;
                -ms-animation-delay:1.0015s;
                -webkit-animation-delay:1.0015s;
                -moz-animation-delay:1.0015s;
        }

        @keyframes bounce_spinningSquaresG{
            0%{
                transform:scale(1);
                background-color:rgb(0,0,0);
            }
            100%{
                transform:scale(.3) rotate(90deg);
                background-color:rgb(255,255,255);
            }
        }

        @-o-keyframes bounce_spinningSquaresG{
            0%{
                -o-transform:scale(1);
                background-color:rgb(0,0,0);
            }
            100%{
                -o-transform:scale(.3) rotate(90deg);
                background-color:rgb(255,255,255);
            }
        }

        @-ms-keyframes bounce_spinningSquaresG{
            0%{
                -ms-transform:scale(1);
                background-color:rgb(0,0,0);
            }
            100%{
                -ms-transform:scale(.3) rotate(90deg);
                background-color:rgb(255,255,255);
            }
        }

        @-webkit-keyframes bounce_spinningSquaresG{
            0%{
                -webkit-transform:scale(1);
                background-color:rgb(0,0,0);
            }
            100%{
                -webkit-transform:scale(.3) rotate(90deg);
                background-color:rgb(255,255,255);
            }
        }

        @-moz-keyframes bounce_spinningSquaresG{
            0%{
                -moz-transform:scale(1);
                background-color:rgb(0,0,0);
            }
            100%{
                -moz-transform:scale(.3) rotate(90deg);
                background-color:rgb(255,255,255);
            }
        }