<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.worldwidewaves.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>worldwidewaves</string>
			</array>
		</dict>
	</array>
	<key>NSBundleResourceRequestTags</key>
	<dict>
		<key>bangalore_india</key>
		<array>
			<string>bangalore_india.geojson</string>
			<string>bangalore_india.mbtiles</string>
		</array>
		<key>bangkok_thailand</key>
		<array>
			<string>bangkok_thailand.geojson</string>
			<string>bangkok_thailand.mbtiles</string>
		</array>
		<key>beijing_china</key>
		<array>
			<string>beijing_china.geojson</string>
			<string>beijing_china.mbtiles</string>
		</array>
		<key>berlin_germany</key>
		<array>
			<string>berlin_germany.geojson</string>
			<string>berlin_germany.mbtiles</string>
		</array>
		<key>bogota_colombia</key>
		<array>
			<string>bogota_colombia.geojson</string>
			<string>bogota_colombia.mbtiles</string>
		</array>
		<key>buenos_aires_argentina</key>
		<array>
			<string>buenos_aires_argentina.geojson</string>
			<string>buenos_aires_argentina.mbtiles</string>
		</array>
		<key>cairo_egypt</key>
		<array>
			<string>cairo_egypt.geojson</string>
			<string>cairo_egypt.mbtiles</string>
		</array>
		<key>chicago_usa</key>
		<array>
			<string>chicago_usa.geojson</string>
			<string>chicago_usa.mbtiles</string>
		</array>
		<key>delhi_india</key>
		<array>
			<string>delhi_india.geojson</string>
			<string>delhi_india.mbtiles</string>
		</array>
		<key>dubai_united_arab_emirates</key>
		<array>
			<string>dubai_united_arab_emirates.geojson</string>
			<string>dubai_united_arab_emirates.mbtiles</string>
		</array>
		<key>hong_kong_china</key>
		<array>
			<string>hong_kong_china.geojson</string>
			<string>hong_kong_china.mbtiles</string>
		</array>
		<key>istanbul_turkey</key>
		<array>
			<string>istanbul_turkey.geojson</string>
			<string>istanbul_turkey.mbtiles</string>
		</array>
		<key>jakarta_indonesia</key>
		<array>
			<string>jakarta_indonesia.geojson</string>
			<string>jakarta_indonesia.mbtiles</string>
		</array>
		<key>johannesburg_south_africa</key>
		<array>
			<string>johannesburg_south_africa.geojson</string>
			<string>johannesburg_south_africa.mbtiles</string>
		</array>
		<key>karachi_pakistan</key>
		<array>
			<string>karachi_pakistan.geojson</string>
			<string>karachi_pakistan.mbtiles</string>
		</array>
		<key>kinshasa_democratic_republic_of_the_congo</key>
		<array>
			<string>kinshasa_democratic_republic_of_the_congo.geojson</string>
			<string>kinshasa_democratic_republic_of_the_congo.mbtiles</string>
		</array>
		<key>lagos_nigeria</key>
		<array>
			<string>lagos_nigeria.geojson</string>
			<string>lagos_nigeria.mbtiles</string>
		</array>
		<key>lima_peru</key>
		<array>
			<string>lima_peru.geojson</string>
			<string>lima_peru.mbtiles</string>
		</array>
		<key>london_england</key>
		<array>
			<string>london_england.geojson</string>
			<string>london_england.mbtiles</string>
		</array>
		<key>los_angeles_usa</key>
		<array>
			<string>los_angeles_usa.geojson</string>
			<string>los_angeles_usa.mbtiles</string>
		</array>
		<key>madrid_spain</key>
		<array>
			<string>madrid_spain.geojson</string>
			<string>madrid_spain.mbtiles</string>
		</array>
		<key>manila_philippines</key>
		<array>
			<string>manila_philippines.geojson</string>
			<string>manila_philippines.mbtiles</string>
		</array>
		<key>melbourne_australia</key>
		<array>
			<string>melbourne_australia.geojson</string>
			<string>melbourne_australia.mbtiles</string>
		</array>
		<key>mexico_city_mexico</key>
		<array>
			<string>mexico_city_mexico.geojson</string>
			<string>mexico_city_mexico.mbtiles</string>
		</array>
		<key>moscow_russia</key>
		<array>
			<string>moscow_russia.geojson</string>
			<string>moscow_russia.mbtiles</string>
		</array>
		<key>mumbai_india</key>
		<array>
			<string>mumbai_india.geojson</string>
			<string>mumbai_india.mbtiles</string>
		</array>
		<key>nairobi_kenya</key>
		<array>
			<string>nairobi_kenya.geojson</string>
			<string>nairobi_kenya.mbtiles</string>
		</array>
		<key>new_york_usa</key>
		<array>
			<string>new_york_usa.geojson</string>
			<string>new_york_usa.mbtiles</string>
		</array>
		<key>paris_france</key>
		<array>
			<string>paris_france.geojson</string>
			<string>paris_france.mbtiles</string>
		</array>
		<key>rome_italy</key>
		<array>
			<string>rome_italy.geojson</string>
			<string>rome_italy.mbtiles</string>
		</array>
		<key>san_francisco_usa</key>
		<array>
			<string>san_francisco_usa.geojson</string>
			<string>san_francisco_usa.mbtiles</string>
		</array>
		<key>santiago_chile</key>
		<array>
			<string>santiago_chile.geojson</string>
			<string>santiago_chile.mbtiles</string>
		</array>
		<key>sao_paulo_brazil</key>
		<array>
			<string>sao_paulo_brazil.geojson</string>
			<string>sao_paulo_brazil.mbtiles</string>
		</array>
		<key>seoul_south_korea</key>
		<array>
			<string>seoul_south_korea.geojson</string>
			<string>seoul_south_korea.mbtiles</string>
		</array>
		<key>shanghai_china</key>
		<array>
			<string>shanghai_china.geojson</string>
			<string>shanghai_china.mbtiles</string>
		</array>
		<key>sydney_australia</key>
		<array>
			<string>sydney_australia.geojson</string>
			<string>sydney_australia.mbtiles</string>
		</array>
		<key>tehran_iran</key>
		<array>
			<string>tehran_iran.geojson</string>
			<string>tehran_iran.mbtiles</string>
		</array>
		<key>tokyo_japan</key>
		<array>
			<string>tokyo_japan.geojson</string>
			<string>tokyo_japan.mbtiles</string>
		</array>
		<key>toronto_canada</key>
		<array>
			<string>toronto_canada.geojson</string>
			<string>toronto_canada.mbtiles</string>
		</array>
		<key>vancouver_canada</key>
		<array>
			<string>vancouver_canada.geojson</string>
			<string>vancouver_canada.mbtiles</string>
		</array>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
