<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>WorldWideWaves needs your location to determine when you're within wave events and coordinate synchronized participation with others.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.worldwidewaves.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>worldwidewaves</string>
			</array>
		</dict>
	</array>
	<key>NSOnDemandResourcesInitialInstallTags</key>
	<array>
		<string>$(WWW_INITIAL_ODR_TAG_1)</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-VF.ttf</string>
		<string>MontserratAlternates-Regular.ttf</string>
		<string>MontserratAlternates-Medium.ttf</string>
		<string>MontserratAlternates-Bold.ttf</string>
		<string>NotoSans-VF.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
